.form{
    width:100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    input{
        width: 90%;
        padding: 10px;
    }
    button{
        width: 35%;
        padding: 10px;
    }
}